<div class="main users-new login">
  <div class="container">
  <!-- 利用者ログイン画面-->
    <div class="form-heading">ログイン</div>
      <div class="home_post_menu">
        <a><%= link_to("利用者登録","/sign_up")%></a>
      </div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        
          <!-- ログインフォーム -->
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
    
          <p>パスワード</p>
          <input  type="password" name="password" value="<%= @password %>">

          <input  type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>
